# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/

# Environment variables
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/

# Logs
*.log 